# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log files
log/

# Ignore .bin and .pldm files in the img directory, but keep other files
img/*.bin
img/*.pldm

# Ignore any other temporary files
*.log
